:root {
  --font-color: rgb(189, 208, 208);
  --font-variant: small-caps;
  --font-family: "Julius Sans One", sans-serif;
}
.nav-link {
  font-size: 16px;
}
body {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}
h1 {
  opacity: 0.7;
  font-size: 42px;
  font-family: var(--font-family);
}
h2 {
  opacity: 0.7;
  font-size: 42px;
  font-family: var(--font-family);
}
h4 {
  opacity: 0.9;
  font-size: 28px;
}
p {
  opacity: 0.7;
  font-size: 17px;
  line-height: 1.75;
}
.bio {
  padding: 100px 150px 50px 150px;
}
.bio-paragraph {
  font-size: 19px;
}
a {
  color: black;
  opacity: 0.8;
  font-family: var(--font-family);
}
a:hover {
  color: black;
}
.hero {
  text-align: right;
  padding-right: 23px;
  padding-top: 10px;
}
.headshot {
  margin-top: -275px;
}
.project-links {
  text-align: center;
}
.skills-row-photos {
  opacity: 0.7;
}
.skills-row {
  opacity: 90%;
  font-size: 12px;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 20px;
  font-family: var(--font-family);
  font-variant: var(--font-variant);
}
#social-media-buttons {
  display: flex;
  justify-content: space-evenly;
  opacity: 0.7;
}
.dictionary-heading{
  text-align: center;
}
@media (max-width: 940px) {
  .headshot {
    margin-top: 40px;
  }
  .line-homepage {
    display: none;
  }
  .project-links {
    margin-top: 80px;
  }
.bio {
    padding: 100px 150px 50px 150px;
  }
  .bio-paragraph {
    font-size: 15px;
  }
  .skills-row {
    margin-top: 250px;
  }
}
@media (max-width: 750px) {
  .bio {
    padding: 100px 50px 50px 50px;
  }
  .bio-paragraph {
    font-size: 13px;
  }
  .skills-row {
    margin-top: 135px;
  }
  
@media (max-width: 576px) {
  
  .project-links {
    margin-bottom: -50px;
  }
  h1 {
    font-size: 34px;
  }
  h4 {
    font-size: 28px;
  }

  p {
    font-size: 11px;
  }
  .bio {
    padding: 100px 5px 50px 5px;
  }
  .skills-row {
    display: flex;
  }
}