:root {
  --font-color: rgb(101, 186, 186);
  --paragraph-color: rgb(104, 104, 104);
  --heading-fontfamily: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  --font-variant: small-caps;
}
body {
  font-family: "Julius Sans One", sans-serif;
}
h1 {
  color: var(--font-color);
  font-variant: var(--font-variant);
  font-size: 60px;
  font-family: var(--heading-fontfamily);
}
h4 {
  opacity: 60%;
}
p {
  font-size: 16px;
  color: var(--paragraph-color);
  line-height: 1.75;
}
a {
  color: black;
  font-size: 15px;
  font-variant: var(--font-variant);
}
.hero {
  text-align: left;
  background-color: #f9f9f9;
  padding: 65px;
}

.skills-row {
  text-align: center;
  margin-top: 10px;
  display: flex;
  font-variant: var(--font-variant);
  flex: 7;
}
.skills-background {
  padding: 75px;
}
