:root {
  --font-color: rgb(189, 208, 208);
  --font-variant: small-caps;
  --font-family: "Julius Sans One", sans-serif;
}
body {
  font-family: var(--font-family);
}
h1 {
  font-size: 45px;
}
h4 {
  opacity: 0.8;
  font-size: 29px;
}
p {
  opacity: 0.8;
  font-size: 20px;
  line-height: 1.75;
  font-variant: var(--font-variant);
}
a {
  color: black;
  opacity: 0.8;
  font-size: 16px;
}
.contact-link {
  font-variant: var(--font-variant);
}
.hero {
  text-align: left;
  background-color: #f9f9f9;
  padding: 40px;
}
img {
  opacity: 0.6;
}
.skills-row {
  opacity: 90%;
  text-align: center;
  margin-top: 10px;
  display: flex;
  flex: 7;
  font-variant: var(--font-variant);
}
.skills-background {
  padding: 75px;
}
